<p id="notice"><%= notice %></p>

<h1>Listing Series</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Series</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= series.title %></td>
        <td><%= series.series_id %></td>
        <td><%= series.source %></td>
        <div><%= line_chart SeriesDatum.where(:series_id => series.series_id, :date => 10.year.ago..Time.now).group_by_year(:date).average(:value) %></div>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>
