<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<p>
  <strong>Series:</strong>
  <%= @series.series_id %>
</p>
<div class="chart"><%= line_chart chartdata(@series.series_id) %></div>

<p>
  <strong>Source:</strong>
  <%= @series.description  %>
</p>

<p>
  <strong>Source:</strong>
  <%= @series.source %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
