<!DOCTYPE html>
<html>
<head>
  <title>Macrocontext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
	<div id="logo"><%= link_to "MacroContext", root_path %></div>

		<div id="main-content">
			<div id="notices">
				<% if flash[:alert] %>
					<p class="flash-error"><%= flash[:alert] %></p>
				<% end %>
				
				<% if flash[:notice] %>
					<p class="flash-notice"><%= flash[:notice] %></p>
				<% end %>
			</div>

			<%= yield %>
			
		</div>
	</div>
</body>
</html>
